.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
}

.price {
    font-size: 1.25rem;
    color: #333;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.btn {
    background-color: rgb(56, 49, 49);
    color: white;
    border: 1px solid white;
    margin: 0 12px;
    width: 200px;
    padding: 10px;
}